body {
  font-family: Montserrat, sans-serif;
}

ul,
ol {
  list-style: none;
}

p {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  padding: 4px 6px;
}
