.transactions-title {
  padding-top: 96px;
}

.transactions-settings-table {
  border-collapse: separate;
  border-spacing: 0 23px;
}

.transactions-select {
  width: 161px;
}

.transactions-address-input {
  max-width: 360px;
}

.transactions-invoice-input {
  max-width: 106px;
}

.transactions-data-table {
}
