.wallets-container {
    height: 100vh;
}

.card-box {
    background-color: var(--secondary-bcg-color-grey01);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    padding: 32px;
}

.card {
    border: none;
    outline: none;
}
