.wallets-container {
  height: 100vh;
}

.side-menu {
  padding: 32px 0 64px;
  width: 256px;
  background-color: var(--secondary-bcg-color-grey01);
}

.arrow-button-wrapper {
  position: relative;
}

.arrow-button {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(225%);
  padding: 0;
}

.arrow {
  fill: var(--input-placeholder-color-grey05);
}

.nav-list {
  padding: 0 36px 0;
  margin-bottom: 0;

  .nav-item:not(:last-child) {
    margin-bottom: 28px;
  }

  .nav-link {
    padding: 0;
    color: var(--main-text-color-grey07);
    font-size: 16px;

    &.nav-link--active {
      font-style: italic;
      font-weight: 600;
    }
  }

  .nav-icon {
    fill: var(--accent-color);
    margin-right: 15px;
  }
}
